$color-blue-001: #062f78;
$color-blue-002: #171880;
$color-blue-003: #023586;
$color-blue-004: #1e73be;

$color-black-001: #000;
$color-black-002: #111;

$color-gray-001: #4a4a4a;
$color-gray-002: #888;
$color-gray-003: #454a56;
$color-gray-004: #999;
$color-gray-005: #ccc;
$color-gray-006: #515151;

$color-white-001: #fff;

$color-yellow-001: #feda24;
